[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11.4"

[packages]
alembic = "*"
cffi = "*"
click = "*"
cryptography = "*"
flask = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
greenlet = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
pycparser = "*"
python-dotenv = "*"
psycopg2-binary = "*"
psycopg2 = "*"
secretsharing = "*"
sentry-sdk = {extras = ["flask", "httpx", "sqlalchemy"], version = "*"}
sqlalchemy = "*"
werkzeug = "*"

[dev-packages]
autopep8 = "*"
coverage = "*"
junitxml = "*"
mock-alchemy = "*"
pycodestyle = "*"
pynose = "*"
requests = "*"
six = "*"
toml = "*"
