[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
cffi = "*"
click = "*"
cryptography = "*"
sentry-sdk = {extras = ["flask", "httpx", "sqlalchemy"], version = "*"}
Flask = "*"
flask-hintful = "*"
flask-jwt-extended = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
greenlet = "*"
gunicorn = "*"
itsdangerous = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pycparser = "*"
python-dotenv = "*"
secretsharing = "*"
SQLAlchemy = "*"
Werkzeug = "*"
urllib3 = "==1.26.11"
python-dateutil = "*"

[dev-packages]
autopep8 = "*"
mock-alchemy = "*"
pycodestyle = "*"
six = "*"
toml = "*"
nose = "*"
coverage = "*"
junitxml = "*"
requests = "*"

[requires]
python_version = "3.11"
