<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ url_for('static', filename='images/og/cover.png') }}" />
<meta name="twitter:title" content="Share a secret safely accross the internet" />
<meta name="twitter:description" content="Share secrets safely with other people accross the internet. Secrets can be viewed only once, So you know if someone else already compromised your secret" />
<meta property="og:title" content="Share a secret safely accross the internet">
<meta property="og:description" content="Share secrets safely with other people accross the internet. Secrets can be viewed only once, So you know if someone else already compromised your secret" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.url }}" />
<meta property="og:image" content="{{ url_for('static', filename='images/og/cover.png') }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="512" />
<meta property="og:image:alt" content="Random shield with lock and black dots that symbolize a password" />
