{% extends 'base.html' %}

{% block title %}Secret not available{% endblock %}}
{% block content %}
<h4 class="text-slate-900 dark:text-blue-600 text-xl leading-tight font-medium mb-2">💔 Oh-oh</h4>
<p class="text-black dark:text-white">
The secret you are looking for has already been viewed, or has expired for viewing.
If it was not you, consider changing it.
Sometimes when the secret link was shared in an application that tries to load a preview of the page, the url is visited, and can not be viewed again. make sure that the secret is shared with you without loading a preview.
</p>
{% endblock %}
