{% extends 'base.html' %}

{% block title %}Share a secret safely{% endblock %}}

{% block content %}
<h5 class="text-slate-900 dark:text-blue-600 text-xl leading-tight font-medium mb-2">Use the api to share a secret</h5>
<p class="text-black dark:text-white">
It is also possible to store and obtain secrets using the api.
Simply post your secret to the api endpoint
</p>
<p class="text-black dark:text-white mb-4">Store a new secret</p>
<code class="w-full">
<pre class="text-blue-600 dark:text-sky-500 mb-4 whitespace-pre">
<strong>POST</strong>    /api/v1/secret/store

<em>PAYLOAD</em> secret (string)

RESPONSES:

<em>201</em> Secret stored
{
    "link": "/secret/{uuid}",
    "api_link": "/api/v1/secret/{uuid}"
}

curl -XPOST -d '{"secret": "secret"}' \
    /api/v1/secret/store
</pre>
</code>
<p class="text-black dark:text-white mb-4">
When the secret has been stored safely, you can use the regular link to share with someone.
But if you need to get the secret programmatically, it is also possible to do that over the
api as well. Whatever suits you best.
</p>
<code>
<pre class="text-blue-600 dark:text-sky-500 mb-4 whitespace-pre-line">
<strong>GET</strong>    /api/v1/secret/{uuid}

RESPONSES:
<em>200</em>
{
    "secret": <secret>
}
<em>404</em> secret does not exist
<em>403</em> secret has already been viewed
<em>403</em> TTL expired

curl /api/v1/secret/19ddf4ed-a144-42ae-8214-45c6f5080bb1
</pre>
</code>
{% endblock %}
