{% extends 'base.html' %}

{% block title %}Share a secret safely{% endblock %}}
{% block content %}
<form method="post" action="/store">
    <h4 class="
        text-blue-600
        dark:text-[#67eba2]
        text-xl
        leading-tight
        font-medium mb-2
    ">Paste a secret to share</h4>
    <p class="text-black dark:text-[#e8e6e3]">
    Use this to share a secret with someone. You can put the secret in the textarea.
    The secret will be encrypted using <a
        class="text-blue-600 dark:text-[#67eba2] dark:hover:text-[#128847] transition duration-300 ease-in-out"
        href="https://cryptography.io/en/latest/">Fernet symmetric encryption</a>.
    You will get a link to view the password only once. Do not open the link yourself before
    sharing, because then the person the password is shared with cannot view again.
    </p>
    <br />
    <div class="flex flex-col">
        <label
            for="secret"
            class="text-blue-700 dark:text-[#128847]"
        >
            Insert secret (max 5000)
        </label>
        <textarea
            required
            placeholder="Put your secret here, it's safe"
            name="secret"
            maxlength="5000"
            class="
                blur:invalid:border-red-500
                dark:placeholder:text-slate-500
                mt-4
                form-control
                block
                w-full
                h-60
                overflow-auto resize-none
                px-1.5
                py-1.5
                text-base
                font-normal
                text-gray-700 dark:text-[#e8e6e3]
                bg-white dark:bg-[#282e37] bg-clip-padding
                border border-solid border-gray-300
                dark:focus:border-[#67eba2] dark:border-[#128847]
                rounded
                resize-none overflow-auto
                transition ease-in-out
                focus:outline-0
                focus:text-gray-700 focus:bg-slate-100 focus:border-blue-600 focus:border-x-2 focus:border-y-2 focus:outline-none
                dark:focus:placeholder:text-slate-500
                font-ubuntu-mono"></textarea>
    </div>
    <div class="flex flex-row flex-wrap justify-between mt-2 mb-2">
        <label for="expiration_data"
            class="text-blue-700 dark:text-[#128847]"
        >
            Expiration
        </label>
        <select
            class="
                form-select appearance-none
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700 dark:text-[#e8e6e3]
                bg-white dark:bg-[#282e37] bg-clip-padding bg-no-repeat
                dark:focus:border-[#67eba2] dark:border-[#128847]
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                font-ubuntu-mono
            "
            name="expiration_ttl"
        >
            <option value="null" selected>does not expire</option>
            <option value="24">one day</option>
            <option value="72">3 days</option>
            <option value="168">one week</option>
        </select>
    </div>
    <div class="flex flex-col">
        <button
            data-mdb-ripple="true" data-mdb-ripple-color="light"
            type="submit"
            class="
                inline-block
                mt-4
                px-6
                py-2.5
                bg-blue-600
                dark:bg-[#128847]
                text-white font-medium text-xs leading-tight uppercase
                rounded
                shadow-md
                hover:bg-blue-700 hover:shadow-lg
                focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
                active:bg-blue-800 active:shadow-lg
                dark:hover:bg-[#67eba2]
                dark:focus:bg-[#67eba2]
                dark:active:bg-[#128847]
                transition duration-300 ease-in-out
            "
        >
            Lock my secret safe
        </button>
    </div>
</form>
{% endblock %}
