{% extends 'base.html' %}

{% block title %}Ssst 🤫{% endblock %}}
{% block toast %}
    <p
        id="success-message"
        class="
            hidden
            bg-green-100
            rounded-lg
            py-5
            px-6
            mb-4
            text-base
            text-green-700
            mb-3
            transition duration-150 ease-in-out
        "
        role="alert"
    >
        Secret copied to clipboard
    </p>
{% endblock %}
{% block content %}
    <h5 class="text-slate-900 dark:text-blue-600 text-xl leading-tight font-medium mb-2">Get your secret</h5>
    <p class="text-black dark:text-blue-600">
    Copy your secret below, and paste it wherever you like.
    You can only view this once.
    Make sure to paste it safe in your password manager.
    </p>
    <br />
    <textarea
        readonly
        id="secret"
        class="
               blur:invalid:border-red-500
               dark:placeholder:text-slate-500
               mt-4
               form-control
               block
               w-full
               h-60
               overflow-auto resize-none
               px-1.5
               py-1.5
               text-base
               font-normal
               text-gray-700 dark:text-white
               bg-white dark:bg-slate-700 bg-clip-padding
               border border-solid border-gray-300 dark:border-blue-600
               rounded
               resize-none overflow-auto
               transition ease-in-out
               focus:outline-0
        "
        >{{ secret }}</textarea>
    <button
        data-mdb-ripple="true" data-mdb-ripple-color="light"
        type="button"
        id="copy-secret"
        class="
            inline-block
            mt-4
            px-6
            py-2.5
            bg-blue-600
            text-white font-medium text-xs leading-tight uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition duration-150 ease-in-out
        "
    >
        Copy
    </button>
{% endblock %}
{% block scripts %}
    <script language="javascript" src="{{ url_for('static', filename='js/copy-to-clipboard.js') }}"></script>
{% endblock %}

