{% extends 'base.html' %}

{% block title %}Secreted safely stored{% endblock %}}
{% block toast %}
    <p
        id="success-message"
        class="
            hidden
            bg-green-100
            rounded-lg
            py-5
            px-6
            mb-4
            text-base
            text-green-700
            dark:bg-[#67eba2]
            dark:text-[128847]
            mb-3
            transition duration-150 ease-in-out
            opacity-75
        "
        role="alert"
    >
        Link copied to clipboard
    </p>
{% endblock %}
{% block content %}
<h4 class="text-blue-600 dark:text-[#67eba2] text-xl leading-tight font-medium mb-2">Share the link</h4>
<p class="text-black dark:text-[#e8e6e3]">
Share this link with the person that needs the secret. The secret will only show the
first time the link is opened.
</p>
<br />
<p
    id="secret-link"
    class="
        dark:placeholder:text-slate-500
        mt-4
        form-control
        block
        w-full
        px-1.5
        py-1.5
        text-bas
        font-normal
        dark:bg-[#282e37]
        text-blue-700 dark:text-[#e8e6e3]
        bg-slate-100 bg-clip-padding
        border border-solid border-gray-300
        dark:focus:border-[#67eba2] dark:border-[#128847]
        font-ubuntu-mono
        rounded
    "
>{{ link }}</p>
<button
    data-mdb-ripple="true" data-mdb-ripple-color="light"
    type="button"
    id="copy-link"
    class="
        inline-block
        mt-4
        px-6
        py-2.5
        bg-blue-600
        dark:bg-[#128847]
        text-white font-medium text-xs leading-tight uppercase
        rounded
        shadow-md
        hover:bg-blue-700 hover:shadow-lg
        focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-blue-800 active:shadow-lg
        dark:hover:bg-[#67eba2]
        dark:focus:bg-[#67eba2]
        dark:active:bg-[#128847]
        transition duration-150 ease-in-out
    "
>
    Copy link
</button>
{% endblock %}
